<div class="col-sm-2">

<div class="sidebar-module about">
  <img title="Me!" src="https://images.ctfassets.net/wf5t1ptx352c/3E264mR9Di6qW2Ake6YQ6Y/0945facd41ef68b294e499bab118cc24/DSC_9720.jpg?w=320&h=320" alt="Me!"/>
  <br />
  <li><a href="{{ site.baseurl }}/publications">Publications</a></li>
  <li><a href="{{ site.baseurl }}/software">Software</a></li>
  <li><a href="http://matt-gardner.github.io/paper-thoughts/">Blog</a></li>
  <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
</div>

</div>

